.element-text {
	/* LINKS
	=========================================*/
	a:link, a:visited {
	}
	a:hover, a:active {
	}
	/* LISTS
	=========================================*/
	ul, ol {
		overflow: hidden;
		padding:.5em .5em .5em 2em;
	}

	ul li {
		list-style: disc;
	}

	ol li {
		list-style: decimal;
	}
	/* TABLES
	=========================================*/
	table {
		border-collapse: collapse;
	}
	thead {
		th {
			padding:1em;
			text-align: left;
			border:1px solid #fff;
			background: #ccc;
		}
	}
	td {
		padding:1em;
		border:1px solid #fff;
		background: #e3e3e3;
	}
	tr:nth-child(2n) td {
		background: #efefef;
	}
	.rt-wrap {
		max-width: 100%;
	}

	.mobile-table {
		border:1px solid #ccc;
		max-width: 100%;
	}

	.mobile-table thead {
		display: none;
	}

	.mobile-table tr,
	.mobile-table td {
		display: block;
		box-sizing: border-box;
		width:100%!important;
		max-width: 100%;
		border:none;
		overflow: hidden;
	}

	.mobile-table td[data-title]:before {
		content: attr(data-title) "\00A0";
			font-weight: bold;
	}
	
}
