@import 'reset';

/* COLORS
=========================================*/
$example:#ccc;

/* OTHER VARIABLES
=========================================*/
$transition-long:.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
$transition-short:.15s cubic-bezier(0.215, 0.610, 0.355, 1.000);
$padding:15px;
$maxwidth: 1000px;
$br:3px;

/* GLOBAL STUFF
=========================================*/
.centering {
	max-width: $maxwidth;
	margin:0 auto;
}

[class*='element-'] {
}
/* GRID SYSTEM
=========================================*/

[class*='grid-'], .grid {
	display: flex;
	flex-wrap:wrap;
	&:after {
		content:'';
		display: block;
		clear:both;
	}
}
[class*='col-'] {
}
.grid-pad {
	> [class*='col-'] {
		padding:$padding;
	}
}
.col-1 {width:8.33%}
.col-2 {width:16.66%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}
.col-6 {width:50%}
.col-7 {width:58.33%}
.col-8 {width:66.66%}
.col-9 {width:75%}
.col-10 {width:83.33%}
.col-11 {width:91.66%}
.col-12 {width:100%}

@media screen and (max-width: 960px) {
	.grid-stepped-720 {
		.col-1 {width:16.66%}
		.col-2 {width:25%}
		.col-3 {width:33.33%}
		.col-4 {width:41.66%}
		.col-5 {width:50%}
		.col-6 {width:58.33%}
		.col-7 {width:66.66%}
		.col-8 {width:75%}
		.col-9 {width:83.33%}
		.col-10 {width:91.66%}
	}
	.grid-960 [class*='col-'],
	.grid-stepped-960 [class*='col-'] {
		width:100%;
	}
}
@media screen and (max-width: 720px) {
	.grid-stepped-512 {
		.col-1 {width:16.66%}
		.col-2 {width:25%}
		.col-3 {width:33.33%}
		.col-4 {width:41.66%}
		.col-5 {width:50%}
		.col-6 {width:58.33%}
		.col-7 {width:66.66%}
		.col-8 {width:75%}
		.col-9 {width:83.33%}
		.col-10 {width:91.66%}
	}
	.grid-720 [class*='col-'],
	.grid-stepped-720 [class*='col-'] {
		width:100%;
	}
}
@media screen and (max-width: 512px) {
	.grid-512 [class*='col-'],
	.grid-stepped-512 [class*='col-'] {
		width:100%;
	}
}

/* IMPORT
=========================================*/
@import 'open-iconic';
@import 'nav';
@import 'element-accordion';
@import 'element-code';
@import 'element-document-list';
@import 'element-form';
@import 'element-text';
@import 'element-photo-gallery';
@import 'element-hero';
@import 'element-reviews';
@import 'element-staff';
@import 'element-video-gallery';

/* GENERAL CONTENT
=========================================*/
.card {
	display: block;
	background: #eee;
	padding:calc(#{$padding} * 2);
	border-radius:3px;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	margin:1em 0;
}
h1 {
	font-size:2em;
}

h2 {
	font-size:1.5em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-weight: bold;
}

h5 {
	font-size:.8em;
	font-weight: bold;
}

h6 {
	font-size:.65em;
	font-weight: bold;
}

blockquote {
	background: rgba(0,0,0,.1);
	padding:$padding;
	margin:$padding 0;
	font-size:1.3em;
}

/* EMBEDS
=========================================*/
.rwd-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}
.rwd-embed iframe,
.rwd-embed object,
.rwd-embed embed {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* MISC
=========================================*/
#__bs_notify__ {
	opacity:.5;
	top:auto!important;
	bottom:0;
}