.element-tabbed {
	.tabs {
		border-bottom: 2px solid $highlight;
		a:link, a:visited {
			display: inline-block;
			background: #eee;
			padding:.75em 1em;
			float:left;
			margin-right:1px;
		}
		a:hover {
			background: #ccc;
		}
		a:link:first-of-type {
			border-radius:6px 0 0 0;
		}
		a:link:last-of-type {
			border-radius:0 6px 0 0;
		}
		&:after {
			content:'';
			display: block;
			clear:both;
		}
		a.current-tab {
			background: $highlight;
			color:#fff;
		}
	}
	.tab-content {
		background: #eee;
		padding:1em;
		display: none;
	}
}