.accordion-topic {
	padding:1em 1em 1em 0;
	background:rgba(0,0,0,.1);
	margin-bottom: 1px;
	cursor: pointer;
	transition:$transition-short;
	&:before {
		content: '+';
		font-weight: 700;
		display: inline-block;
		width: 1em;
		height: 1em;
		font-size: 1.2em;
		color: #555;
		border-radius: 50%;
		text-align: center;
		line-height: 1em;
		margin: 0 1em;
		transition:$transition-short;
	}
}
.accordion-topic:hover {
	background:rgba(0,0,0,.15);
}
.accordion-open,
.accordion-open:hover {
	background:$highlight;
	color:#fff;
	&:before {
		color:#fff;
	}
}
.accordion-open:before {
	transform:rotate(45deg);
}
.accordion-result {
	@extend .text-formatting;
	padding:1em 1em 1em 1.5em;
	background: rgba(0,0,0,.05);
	font-size:.9em;
	display: none;
}
