.accordion-topic {
	padding:1em 1em 1em 3em;
	background:rgba(0,0,0,.1);
	margin-bottom: 1px;
	cursor: pointer;
	transition:$transition-short;
	font-weight: bold;
	position: relative;
	&:before {
		content: '+';
		font-weight: 700;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 2.5em;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2em;
	}
}
.accordion-topic:hover {
	background:rgba(0,0,0,.15);
}
.accordion-open,
.accordion-open:hover {
	background:$highlight;
	color:#fff;
	&:before {
		color:#fff;
	}
}
.accordion-open:before {
	transform:rotate(45deg);
}
.accordion-result {
	@extend .text-formatting;
	padding:1em 1em 1em 1.5em;
	background: rgba(0,0,0,.05);
	font-size:.9em;
	display: none;
	&:after {
		content:'';
		display: block;
		clear:both;
	}
}
