.document-list-header {
	background:rgba(0,0,0,.05);
}

.document-list-title {
	font-weight:bold;
	font-size:1.5em;
}

.document-list-search-wrap {
	background:rgba(0,0,0,.05);
}
.document-list-search {
	border:0;
	padding:1em;
	outline: 0;
	border-radius:2em;
}

.document-list {
	max-height:50vh;
	overflow: auto;	
	.icon {
		float:right;
		width:1.2em;
		height: 1.2em;
		opacity: .5;
	}
	a:link, a:visited {
		display:block;
		padding:1em;
		overflow: hidden;
		text-overflow:ellipsis;
		font-size:.9em;
		background: rgba(0,0,0,.05);
		margin-top: 1px;
	}
	a:hover {
		background:$highlight;
		color:#fff;
		.icon {
			opacity: 1;
		}
	}
}