@import 'reset';

/* COLORS
=========================================*/

/* Keep bright enough on to see on white */
$highlight:#8CAC3E;

/* OTHER VARIABLES
=========================================*/
$transition-long:.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
$transition-short:.15s cubic-bezier(0.215, 0.610, 0.355, 1.000);
$padding:15px;
$maxwidth: 1000px;
$br:3px;

/* GLOBAL MISC
=========================================*/
body {
	font-size:14px;
}
.centering {
	max-width: $maxwidth;
	margin:0 auto;
}

[class*='element-'] {
}

.card {
	display: block;
	background: #eee;
	padding:calc(#{$padding} * 2);
	border-radius:3px;
}

.element-title {
	text-align: center;
	font-weight: bold;
	font-size:1.4em;
	line-height: 1.2em;
	padding:1em;
}

/* BUTTONS
=========================================*/
a.button {
	padding:.75em 3em;
	border-radius:3em;
	background: $highlight;
	color:#fff;
	display: inline-block;
}
a.button:hover {
	filter:brightness(1.2);
}
a.button:active {
	filter:brightness(1.3);
}
a.button-alt {
	@extend a.button;
	background: #444;
}
a.button-small {
	display: inline-block;
	padding:.25em 1em;
	color:#fff;
	font-size:.75em;
	text-transform: uppercase;
	background: $highlight;
	font-weight: bold;
	border-radius:3em;
}
a.button-small:hover {
	filter:brightness(1.2);
}
a.button-small:active {
	filter:brightness(1.3);
}
a.button-small-alt {
	@extend a.button-small;
	background: #444;
}

button.button {
	font-size: 1rem;
	padding:.75em 3em;
	border-radius:3em;
	background: $highlight;
	color:#fff;
	display: inline-block;
	outline: none;
	border: none;
}
button.button:hover {
	// filter:brightness(1.3);
	filter:brightness(.8);
}
button.button:active {
	filter:brightness(1.3);
}
button.button-alt {
	@extend button.button;
	background: #444;
}
button.button-small {
	display: inline-block;
	padding:.25em 1em;
	color:#fff;
	font-size:.75em;
	text-transform: uppercase;
	background: $highlight;
	font-weight: bold;
	border-radius:3em;
}
button.button-small:hover {
	// filter:brightness(1.2);
	filter:brightness(.8);
}
button.button-small:active {
	filter:brightness(1.3);
}
button.button-small-alt {
	@extend button.button-small;
	background: #444;
}
/* INPUTS
=========================================*/
input.button {
	padding:.75em 3em;
	border-radius:3em;
	background: $highlight;
	color:#fff;
	display: inline-block;
	outline: none;
	border: none;
}
input.button:hover {
	// filter:brightness(1.3);
	filter:brightness(.8);
}
input.button:active {
	filter:brightness(1.3);
}
input.button-alt {
	@extend a.button;
	background: #444;
}
input.button-small {
	display: inline-block;
	padding:.25em 1em;
	color:#fff;
	font-size:.75em;
	text-transform: uppercase;
	background: $highlight;
	font-weight: bold;
	border-radius:3em;
}
input.button-small:hover {
	// filter:brightness(1.2);
	filter:brightness(.8);
}
input.button-small:active {
	filter:brightness(1.3);
}
input.button-small-alt {
	@extend a.button-small;
	background: #444;
}

/* ICONS
=========================================*/

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill:currentColor;
	use, polygon, path{
		fill:currentColor;
	}
}

/* PAGINATION
=========================================*/
.pagination {
	text-align: center;
	font-weight: bold;
	font-size:.9em;
	padding:.5em;
	a:link, a:visited {
		display: inline-block;
		padding:0 .5em;
	}
	a:hover {
		color:$highlight;
	}
}

/* GRID SYSTEM
=========================================*/

[class*='grid-'], .grid {
	display: flex;
	flex-wrap:wrap;
	&:after {
		content:'';
		display: block;
		clear:both;
	}
}
[class*='col-'] {
}
.grid-pad {
	> [class*='col-'] {
		padding:$padding;
	}
}
.col-1 {width:8.33%}
.col-2 {width:16.66%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}
.col-6 {width:50%}
.col-7 {width:58.33%}
.col-8 {width:66.66%}
.col-9 {width:75%}
.col-10 {width:83.33%}
.col-11 {width:91.66%}
.col-12 {width:100%}

@media screen and (max-width: 960px) {
	.grid-stepped-720 {
		.col-1 {width:16.66%}
		.col-2 {width:25%}
		.col-3 {width:33.33%}
		.col-4 {width:41.66%}
		.col-5 {width:50%}
		.col-6 {width:58.33%}
		.col-7 {width:66.66%}
		.col-8 {width:75%}
		.col-9 {width:83.33%}
		.col-10 {width:91.66%}
	}
	.grid-960 [class*='col-'],
	.grid-stepped-960 [class*='col-'] {
		width:100%;
	}
}
@media screen and (max-width: 720px) {
	.grid-stepped-512 {
		.col-1 {width:16.66%}
		.col-2 {width:25%}
		.col-3 {width:33.33%}
		.col-4 {width:41.66%}
		.col-5 {width:50%}
		.col-6 {width:58.33%}
		.col-7 {width:66.66%}
		.col-8 {width:75%}
		.col-9 {width:83.33%}
		.col-10 {width:91.66%}
	}
	.grid-720 [class*='col-'],
	.grid-stepped-720 [class*='col-'] {
		width:100%;
	}
}
@media screen and (max-width: 512px) {
	.grid-512 [class*='col-'],
	.grid-stepped-512 [class*='col-'] {
		width:100%;
	}
}

/* ALIGNMENT
=========================================*/
.align-tl {
	display: flex;
	align-items:flex-start;
	justify-content:flex-start;
}
.align-tc {
	display: flex;
	align-items:flex-start;
	justify-content:center;
}
.align-tr {
	display: flex;
	align-items:flex-start;
	justify-content:flex-end;
}

.align-cl {
	display: flex;
	align-items:center;
	justify-content:flex-start;
}
.align-c {
	display: flex;
	align-items:center;
	justify-content:center;
}
.align-cr {
	display: flex;
	align-items:center;
	justify-content:flex-end;
}

.align-bl {
	display: flex;
	align-items:flex-end;
	justify-content:flex-start;
}
.align-bc {
	display: flex;
	align-items:flex-end;
	justify-content:center;
}
.align-br {
	display: flex;
	align-items:flex-end;
	justify-content:flex-end;
}

/* IMPORT
=========================================*/
@import 'nav';
@import 'custom';
@import 'element-text';
@import 'element-accordion';
@import 'element-code';
@import 'element-carousel';
@import 'monthly';
@import 'element-document-list';
@import 'element-events';
@import 'element-form';
@import 'element-featured-text';
@import 'element-photo-gallery';
@import 'element-hero';
@import 'element-reviews';
@import 'element-staff';
@import 'element-video-gallery';
@import 'element-tabbed';
@import 'social-media';
@import 'smoothslides.theme';

/* EMBEDS
=========================================*/
.rwd-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}
.rwd-embed iframe,
.rwd-embed object,
.rwd-embed embed {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* MISC
=========================================*/
#__bs_notify__ {
	opacity:.7;
	position: fixed!important;
	left:50%!important;
	top:50%!important;
	transform:translateX(-50%) translateY(-50%);
	pointer-events:none;
	background:#fff!important;
	color:#222!important;
	border-radius:30px!important;
	font-weight: bold;
}
