.element-reviews {
	max-width: 100%;
	overflow: hidden;
	[class*='grid-'] {
		width:calc(100% + 20px);

	margin-left:-10px;
	}
	[class*='col-'] {
		padding:10px;
	}
}
.review {
	@extend .text-formatting;
	background: $common-background;
	padding:15px;
	border-radius:6px;
}

.star-rating {
	display: block;
	text-align: center;
	background:linear-gradient(to top, rgba(0,0,0,.05), rgba(0,0,0,0));
	padding-bottom:15px;
	margin:0 -15px;
}

.review-star-full {

}

.review-star-empty {
	opacity: .3;
}