.element-video-gallery {
	margin-left:-10px;
	overflow: hidden;
	.rwd-embed {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 35px;
		height: 0;
		overflow: hidden;
	}
	.grid {
		justify-content:center;
		width:calc(100% + 10px);
	}
	.col-4 {
		padding:10px;
		min-width:250px;
		flex-grow:1;
	}
}